PORT=3001
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/casinodb?appName=Cluster0"

# GameCloud Credentials
GAMECLOUD_RESELLER_ID=306
GAMECLOUD_API_TOKEN=bfc369fd4090461aa92ca32907be5668
GAMECLOUD_SECRET_KEY=6d7460454585e11d17cac11f553275ef6d89756adfdb97b7fafe88cec1466dbe
GAMECLOUD_BASE_URL="https://api.gamecloudapi.com"
GAMECLOUD_HOME_URL="https://api.maltiplayx.com"
