PORT=3001
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/casinodb?appName=Cluster0"

# GameCloud Credentials
GAMECLOUD_RESELLER_ID=306
GAMECLOUD_API_TOKEN=replace-with-provider-token
GAMECLOUD_SECRET_KEY=replace-with-provider-secret
GAMECLOUD_BASE_URL="https://api.gamecloudapi.com"
GAMECLOUD_HOME_URL=https://maltiplayx.com
