# GameCloud INR Test Report

**Total Tested:** 64
**Total INR Supported:** 39
**Total INR Unsupported:** 13
**Total Disabled:** 12
**Total Other Errors:** 0

## ✅ INR Supported Games
- **Candy Superwin** (undefined) - `bbe2320adc5c506e7e56a2d24d96a252`
- **#Alice and the Mad Respin Party 96** (undefined) - `c45a7f70da9ad3966ecb91255ae42a31`
- **#Alice in the Wild 96** (undefined) - `eb70e20d756eb4bf4e2b683465b8f9c5`
- **#LuxuryLife** (undefined) - `c254f7540a27b7cb85d2c8a68653350a`
- **10 Lucky Spins** (undefined) - `1e963be594b5a8990365657a3a368d90`
- **10 Sparkling Crown** (undefined) - `2eb2879a2e4f3c5e5d297925283c37c9`
- **10 Sparkling Crown** (undefined) - `d2ca1af0693ead145b930fb6f9c33a54`
- **10 Sparkling Crown 2** (undefined) - `93d306f6d5dc42dd14334d4474b2476c`
- **10 Sparkling Crown 2** (undefined) - `ebb82e2fb570de9850339f5ff4a02521`
- **100 Blazing Clover** (undefined) - `949cebe251fe69676f45518c48ff558c`
- **100 Blazing Clover** (undefined) - `950bb3f88dbe4fd100147fe93249bba0`
- **100 Super Icy** (undefined) - `c1df36dd431dcf2d0103fb6604db4349`
- **100 Super Icy Dice** (undefined) - `59a817f6de83e12602191f3c843df441`
- **100 Zombies** (undefined) - `18acc7095966cf7339960b53f95ab145`
- **100 Zombies Dice** (undefined) - `d693aff1b328b6eead4831fb4472fbed`
- **10001 Nights Megaways** (undefined) - `8de9b4b0d89ee4dda0c0f6ad5f8777d3`
- **101 Candies** (undefined) - `5cdb749ef224893ee5942b79e49be473`
- **10× Diamond 7** (undefined) - `aeba32461714cb4482faed3058e4bb76`
- **10× Lions 7** (undefined) - `39629775f8735c7826a676a5e24a04ab`
- **10X Rewind** (undefined) - `f681e8de8a71ae0b1f84a27d487f66b3`
- **12 Bells Easter Jackpots** (undefined) - `adebf547d35039576d9b88618b6e26d9`
- **12 Bells Love the Jackpot** (undefined) - `f6e9c837faba42afa5fa37c1068c0d76`
- **12 Coins Grand Diamond Edition Easter Jackpots** (undefined) - `f26bf987ec4b1d7edb345804083effe4`
- **12 Coins Grand Gold Edition** (undefined) - `cd7bbbe2973eb5dd6b3d0f472e9134da`
- **12 Coins Grand Gold Edition Halloween Jackpots** (undefined) - `214fc659080242d048e2d606460ac151`
- **12 Coins Grand Gold Edition Santas Jackpots** (undefined) - `3f979749c6a871fbc024491464dba503`
- **12 Coins Grand Platinum Edition Santas Jackpots** (undefined) - `0a0e92530106bace69f433975cdbb7af`
- **12 Coins Hold The Jackpot Cash Infinity** (undefined) - `f6c5b5ec2204390bc1c5434ce868d182`
- **12 Coins: Grand Diamond Edition** (undefined) - `42d65d467b3ff61ab9171889c387cf29`
- **12 Coins: Grand Platinum Edition** (undefined) - `180f44fee825572b58d176976d3e79e8`
- **12 Treasures: Aztec Riches** (undefined) - `192ef90f52c626f1c89a2586ff886ed2`
- **12 Trojan Mysteries** (undefined) - `5b3ae15ac15753c33646389b71b035aa`
- **12Zodiacs** (undefined) - `b88e91b328ecc8e990af48df6db705b4`
- **15 Coins Grand Gold Edition** (undefined) - `d949d22ff21142c9d324a906a6b1b082`
- **15 Coins Grand Gold Edition Halloween Jackpots** (undefined) - `2c74ea642464c2a4daaa6f82d13e9915`
- **15 Coins Grand Gold Edition Santas Jackpots** (undefined) - `27c6a85e883b3c4e297ade83a264b7cb`
- **15 Coins Hold The Jackpot Cash Infinity** (undefined) - `1ede395ebdb691733476f422ca720d00`
- **15 Coins Love the Jackpot** (undefined) - `6ef5e08390259a57855a3e1ed79abd37`
- **15 Coins: Grand Platinum Edition** (undefined) - `29b8f09056a9d84e2c2477b2a0b3634e`

## ⚠️ INR Unsupported Games
- **Gu Gu Gu 2 M** (undefined) - `24e0e334a06f1c2f609908ea51f56945` - Error: Please use [USD,BRL,COP,SC,GC,PKR,PHP] for the test environment
- **.Lil Greedy™** (undefined) - `5173d58fc02e96521a5c40532fd695e5` - Error: Please use [PKR] for the test environment
- **Diamond treasure** (undefined) - `2f3e4881d605653d536e8b5ab21e113b` - Error: Please use [USD,BRL,COP,SC,GC,PKR,PHP] for the test environment
- **10 Sparkling Crown** (undefined) - `2c4e8dbd0811f3e65f58a0f29edb5649` - Error: Please use [SC,GC] for the test environment
- **1000 Amigo Monkeys** (undefined) - `91beabd9d7b3c7d69697a0e5071163b8` - Error: Please use [EUR] for the test environment
- **1000 Olympus Rivals** (undefined) - `3be1d7f0930d016b22f590956f61a223` - Error: Please use [EUR] for the test environment
- **10000 Fortunes** (undefined) - `2023c842fbba07a41405ef3bf73a95fe` - Error: Please use [BRL,ARS] for the test environment
- **10000 Wishes** (undefined) - `2ca3b8cad27b28796280325dbd2e8e50` - Error: Please use [BRL,ARS] for the test environment
- **1001 Fruit Wishes** (undefined) - `27d9ce85ccc6ecabc99a2fec7197bd76` - Error: Please use [EUR] for the test environment
- **108 Heroes** (undefined) - `a899b3c1735898b9a1ae18bdf372a297` - Error: Please use [BRL,ARS] for the test environment
- **108 Heroes Water Margin** (undefined) - `d693c33ddb634da6e5f3d53d35e4f07c` - Error: Please use [BRL,ARS] for the test environment
- **12 Skulls of the Dead** (undefined) - `ca6f6856efefb5d3a5deff01409572cb` - Error: Please use [BRL,ARS] for the test environment
- **123 Soccer Link&Merge** (undefined) - `290706b2d8aeb87265837ae6114a17e6` - Error: Please use [BRL,ARS] for the test environment

## ❌ Disabled Games
- **Neon Reels** (undefined) - `50fb95404b19b978a8983f2ff6cafc6d`
- **Diamond treasure** (undefined) - `2f3e4881d685653d536e8b5ab21e113b`
- **Mega Slots** (undefined) - `50fb95404b19b978a8983f2ff6cafc6d`
- **1-Of-A-Kind** (undefined) - `44f6e08856a602e68952f49658b7d3f8`
- **1000 Moon Girls** (undefined) - `1235df727e5484fe68fb07e3d6469af`
- **10001 Nights** (undefined) - `b4823bf398ca5fab512bd9a61bd7f783`
- **100× Diamond 7** (undefined) - `f2ab9adc108bbab5c1f4fffeed5c40fb`
- **100× Lions 7** (undefined) - `2804dff32c1580a78076bbca238989a`
- **12 Bells** (undefined) - `85aa6eb2046515f0067cfe2b655e5ef`
- **12 Fortune Signs** (undefined) - `93ed8992109f7c7b0792d20cd1c6dcb`
- **15 Coins Grand Diamond Edition** (undefined) - `26da35170456e2848aea009d94cdca4`
- **15 Crystal Roses: A Tale of Love** (undefined) - `6b072dcb3eedf445e0260fc2de83316`

## ❌ Other Errors
